/* CSS BY GRACIE JACKSON GIT 337*/

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS REST */
html {
    background-color: var(--lavender);
}


.top-title{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

h1{
    font-size: 3em;
}

h1, h2{
    font-family: 'Kavoon';
}

h2{
    color: var(--white);
    font-size: 2em;
}

/*Menu section*/
.menu{
    width: 490px;
}

#unordered-menu{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--yellow);
    justify-content: center;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
}
.menu h2{
    text-align: center;
    color: var(--dk-gray);
    font-family: 'Inter';
    font-style: italic;
    background-color: var(--yellow);
    text-transform: uppercase;
    padding: 10px;
}

#unordered-menu a{
    text-decoration: none;
    color: var(--purple);
    background-color: var(--white);
}

 #unordered-menu li{
    background-color: var(--white);
    border: 2px solid var(--white);
    width: 400px;
    height: 25px;
    padding-top: 10px;
    padding-bottom: 8px;
 }

 #menu-1, #menu-2, #menu-3, #menu-4 {
    filter:brightness(120%);
    text-rendering: optimizeLegibility;
 }

 #menu-1:hover, #menu-2:hover, #menu-3:hover, #menu-4:hover {
    filter:brightness(160%);
 }

/*Services section with white background*/

#services, .group-services, .workshops, .online{
    padding: 20px;
}

#personal, #career, #relationship, #community, #sessions, #interactive, #flex-learning {
    border: 2px solid var(--white);
    padding: 20px;
    border-radius: 5%;
    background-color: var(--white);
    margin: 15px auto;
    line-height: 1.6;
}
#personal > p, #personal > img, #personal > h4{
    background-color: var(--white);
}

#career > p, #career > img, #career > h4{
    background-color: var(--white);
}

#relationship > p, #relationship > img, #relationship > h4{
    background-color: var(--white);
}

#community > p, #community > img, #community > h4{
    background-color: var(--white);
}

#sessions > p, #sessions > img, #sessions > h4{
    background-color: var(--white);
}

#interactive > p, #interactive > img, #interactive > h4{
    background-color: var(--white);
}

#flex-learning > p, #flex-learning > img, #flex-learning > h4{
    background-color: var(--white);
}

 /*Services end*/


nav h2{
    font-size: 1.5em;
}

h3{
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: bolder;
}

h4{
    color: var(--lavender);
    font-size: 1.15em;
    font-weight: bold;
}

/* Why choose us grid layout */

#why-choose-us{
    background-color: var(--pink);
    padding-bottom: 10px;
}

#why-choose-us h2{
    background-color: var(--pink);
    padding: 10px;
}

#unordered-list{
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    list-style-type: none;
    gap: 25px;
    justify-content: space-evenly;
    background-color: var(--pink);
    padding: 15px;
}

#unordered-list li{
    margin: 0%;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-weight: 800;
    line-height: 1.5em;
    font-size: 1.15em;
}
#item-1 {
    background-color: var(--teal); 
}

#item-2{
    background-color: var(--lavender);
}

#item-3{
    background-color: var(--yellow);
}

#item-4{
    background-color: var(--white);
}

/**/

/*Tables*/

#pricing{
    padding-top: 10px;
    padding: 15px;
}

#pricing h3{
    padding-bottom: 10px;
    padding-top: 5px;
}

table{
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    padding: 15px;
    margin: 0;
    border: 1.5px solid var(--yellow);
}

table th{
    background-color: var(--yellow);
    padding: 16px;
    text-transform: uppercase;
}

td{
    background-color: var(--white);
}

/**/

/*First step bottom section*/

#first-step p, #first-step h2{
    color: var(--white);
    background-color: var(--pink);
    padding: 10px;

}

#first-step a{
    color: var(--dk-gray);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    width: 350px;
    height: 25px;
    background: var(--white);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 6px 6px 10px var(--dk-gray);
}

footer{
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 120px;
    width: 360px;
    font-size: 0.75em;
    text-align: center;
}

footer a{
    color: var(--white);

}

* {
    background-color: var(--purple);
    font-family: 'Inter';
    margin: auto;
}

nav ul {
    color: var(--purple);
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
}

.top-title{
    color: var(--white);
    text-align: center;
}

/* ROOT VARIABLES */
:root {
    --teal: #4ca7c0;
    --purple: #484fb7;
    --lavender: #6b8fe7;
    --yellow: #e9bb57;
    --pink: #d9526f;
    --dk-gray: #1e1e1e;
    --white: #ffffff;

    --fonts: 'Kavoon', 'Inter', sans-serif;
}


/* GLOBAL STYLES */

* {
    max-width: 450px;
}

